body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#pagination {
    margin-top: 20px;
}

.pagination-btn {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.pagination-btn.active {
    background-color: #ddd;
}



.heading {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    color: #333;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-box {
    padding: 5% 10%;
    border: #333 1px solid;
}


.login-box input {
    width: 95%;
    padding: 8px 5%;
    margin-bottom: 20px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #999;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.login-box button:hover {
    background-color: #888;
}

.message {
    margin-bottom: 10px;
    font-weight: bold;
}

.subheading {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #666;
}

.register-box {
    width: 40vw;
    padding: 20px 200px;
    border: #333 1px solid;
}

.register-box input,
select {
    width: 100%;
    padding: 8px 0%;
    margin-bottom: 20px;
    border: 1px solid #bbb;
    border-radius: 4px;
}


.register-box button {
    width: 100%;
    padding: 10px;
    background-color: #999;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}


.register-box button:hover {
    background-color: #888;
}

.input-box {
    width: 100%;
    padding: 8px 0%;
    margin-bottom: 20px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.button {
    padding: 10px;
    background-color: #999;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #888;
}

main {
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.tagline {
    color: #555;
    font-size: 1.2rem;
}

.about {
    max-width: 700px;
    margin: 40px auto;
    text-align: left;
    line-height: 1.6;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.signup {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.login {
    background: #f0f0f0;
    color: #666;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}